<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note</title>
    <style>
        *{margin:0;padding:0;}
        li{list-style:none;}
        a{text-decoration: none;}
        body{user-select: none;}
        #wrap h1,
        #wrap p{
            text-align: center;
        }
        #wrap h1{
            line-height: 50px;
        }
        #wrap p{
            border-bottom: 1px solid #222;
            line-height: 40px;
            font-size: 16px;
        }
        xmp{
            margin-left: -100px;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div class="day1">
            <h1>day1</h1>
            <xmp>
                <circle cx="50%" cy="50%" r="100" fill="skyblue"></circle>
            </xmp>
            <hr>
            <xmp>
                <image x="180" y="190" xlink:href="1.jpg"></image>
            </xmp>
            <hr>
            <xmp>
                <text x="50%" y="50%" text-anchor="middle" style="font-size: 30px;" fill="#f00">haa~</text>
            </xmp>
            <hr>
            <p>text标签：不能使用color来进行渲染颜色；</p>
            <p>标签【图层】有层级关系</p>
            <p>text-anchor(对齐start end middle)</p>
            <xmp>
                <line x1="100" y1="100" x2="200" y2="200" stroke="#000" stroke-width="1" style="cursor: pointer"></line>
            </xmp>
            <hr>
            <xmp>
                <line x1="100" y1="100" x2="200" y2="200" stroke="transparent" stroke-width="10" style="cursor: pointer"></line>
            </xmp>
            <hr>
            <p>stroke的样式none与transparent不同</p>
            <p>d属性M(起始坐标),L(结束坐标),H(水平线),V(垂直线),A(圆弧),Z(闭合路径)</p>
            <xmp>
                <path d="M100 100 L150 200 L300 200 L300 100Z" stroke-width="5" stroke="#f00" fill="none"></path>
            </xmp>
            <hr>
            <p>fill的样式none与transparent相同</p>
            <h4>H(水平线):</h4>
            <ul>
                <li>大写的H相当于x的坐标</li>
                <li>小写的h相当于长度；</li>
                <li>取值可以正值，可取负值，取负值的时候等于取反方向【反坐标】</li>
            </ul>
            <hr>
            <h4>V(垂直线):</h4>
            <ul>
                <li>大写V是直接去找y坐标</li>
                <li>小写v是找长度，可取负值，负值代表反方向；</li>
            </ul>
            <hr>
            <p>el:'#app', //根节点</p>
            <p>data:{ }   //vue可以操作的数据集合</p>
            <p>给对象添加响应式属性:vm.$set(对象，属性，初始值)</p>
            <p>如果要使视图中的数组发生改变  需要使用数组的遍历方法</p>
            <p>push pop  shift unshift  splice sort reverse</p>
            <p>获取data选项中的a 可以通过vm.a 或者vm.$data.a</p>
            <p>pop() 删除数组的最后一项 改变原数组</p>
            <p>shift() 移除数组中第一项 改变原数组</p>
            <p>unshift() 在数组前添加任意数组项 改变原数组</p>
            <p>splice(index,num,info)</p>
            <p>index 从数组第几项开始 (下标值)</p>
            <p>num   删除几个数组项</p>
            <p>info  从删除的位置开始添加新数组项</p>
            <p>unshift() = splice(0,0,info)</p>
            <p>push() = splice(arr.length,0,info)</p>
        </div>
        <hr>
        <div class="day2">
            <h1>day2</h1>
            <p>特例  vue不能设置数组的length  对象属性的增加和删除</p>
            <p>Object.defineProperty(data,'a',{}) Vue中data的底层</p>
            <p>data中的数据就是双向数据绑定，通过get和set处理过</p>
            <p>{{数据}}  在{{}}中可以插入vue提供的数据  不能把标签格式的字符串解析成标签</p>
            <p>v-html   类似于innerHTML   把数据解析成对应的标签格式</p>
            <p>v-text   类似于innerText</p>
            <p>v-if=数据：如果数据为真  则渲染该节点  如果数据为假  则不渲染该节点</p>
            <p>V-if  v-else-if vl-else  如果一起出现，必须是相邻兄弟</p>
            <p> v-show=数据  如果数据为真  则显示该节点  如果数据为假  则不显示该节点</p>
            <p>v-once  限制响应式数据的次数</p>
            <p>v-on:click=回调函数     为元素绑定一个点击事件</p>
            <p>v-on:click.once=回调函数     为元素绑定一个一次性的点击事件</p>
            <p>beforeCreate  此时vue实例的状态  data中没有数据</p>
            <p>created  此时vue实例的状态  data已经有数据了  但是数据没有挂载到视图中  数据没有挂载在根节点</p>
            <p>beforeMount  此时根节点已经存在  但是数据还没有挂载到根节点</p>
            <p>mounted  此时数据已经挂载到根节点上了</p>
            <p>beforeUpdate  在数据改变之前触发</p>
            <p>updated       在数据改变之后触发</p>
            <p>如果要在某个生命周期函数中使用  最终的vm实例</p>
            <p>则this.$nextTick(回调)  在回调函数中是可以访问到 最终的vm实例</p>
            <p>vm.$data  获取数据</p>
            <p>vm.$el    获取根节点</p>
            <p>vm.$set(对象，属性，值)</p>
            <p>vm.$mount("#app")</p>
            <p>vm.$destroy()</p>
        </div>
        <hr>
        <div class="day3">
            <h1>day3</h1>
            <p>方法写在methods中  当视图重新渲染时  方法会再次执行</p>
            <p>属性写在computed中  当视图重新渲染时  get不会再次执行</p>
            <xmp>
                <input type="text" v-model.number.lazy="a">
            </xmp>
            <hr>
            <p>表单修饰符:</p>
            <p>.number  1.限制用户输入的数据必须是数字  2.把用户输入的数据转成数字类型</p>
            <p>.lazy  当文本框失去焦点时   数据响应视图的变化</p>
            <p>.trim   对视图中的数据进行处理  再响应到vue中</p>
            <p>v-model的作用 ：收集表单中的数据</p>
            <p>单选按钮  收集的是value值</p>
            <p>多选按钮  收集的是value值  数据收集在数组中</p>
            <p>下拉框    收集的是value值</p>
            <p>两种情况  可以收集单个选中的下拉框  数据存在字符串中;以收集多个选中的下拉框  数据存在数组中</p>
            <p>文本域和普通的表单元素  都是收集在字符串中</p>
            <p>@click=fn  和  @click=fn()   的区别</p>
            <p>后者必须要手动传入$event  才能在回调函数中使用事件对象</p>
            <p>事件修饰符:</p>
            <p>.once   为元素绑定一次性事件</p>
            <p>.stop   阻止事件冒泡</p>
            <p>.capture  为元素绑定一个事件捕获阶段触发的回调函数</p>
            <p>.self  为元素绑定一个只在自身元素上触发的事件</p>
            <p>.prevent  阻止元素的默认行为</p>
            <xmp>
                <input @keyup.alt.13.once="fn">按键修饰符
            </xmp>
            <hr>
            <p> .enter / .13   在enter键抬起出触发</p>
            <p>C命令：三次贝塞尔曲线 (x1,y1,x2,y2,x,y) x1,y1 控制点一 x2,y2 控制点二 x,y 结束点</p>
            <xmp>
                <path d="M100 200 C200 100 300 300 400 200" style="fill:none;"></path>
            </xmp>
            <hr>
            <p>T命令：一次贝塞尔曲线 (x,y)结束点</p>
            <xmp>
                <path d='M100 300 T300 200'></path>
            </xmp>
            <hr>
        </div>
        <div class="day4">
            <h1>day4</h1>
            <p>fiter方法不会改变原数组</p>
            <p>let arr = ["ffw","fewf","da"];</p>
            <p>let b = arr.filter((num)=>{</p>
            <p> console.log(num);</p>
            <p>/*</p>
            <p>ffw</p>
            <p>fewf</p>
            <p>da</p>
            <p>*/</p>
            <p>return num.includes("f");</p>
            <p>});</p>
            <p>console.log(arr); //["ffw", "fewf", "da"]</p>
            <p>console.log(b); //["ffw", "fewf"]</p>
            <p>includes是字符串方法</p>
            <p>v-for='(item,index) in arr</p>
            <p>v-for="(item,key,value) in obj</p>
            <p>v-for="(item,index) in 5</p>
            <p>v-for="(item,index) in 'heaven'</p>
            <p>:style=对象,对象的键名是标签的属性名 键值是标签的属性值</p>
            <p>v-bind:属性名=属性值    <==>  :属性名=属性值  完全等价</p>
            <p>class=对象   只要对象的键值为true  则标签就会有对应键名的类名</p>
            <p>:class=数组   只要数组中存在某一项 则标签就会有对应数组项的类名</p>
            <xmp>
                <button size='mini' type='primary' bindtap='add'>add</button>
            </xmp>
            <hr>
            <p>this.setData({num: this.data.num})</p>
            <p>wx里面wxss即为css，wxml即为html</p>
        </div>
        <div class="day5">
            <h1>day5</h1>
            <p>webpack 是一个现代 JavaScript 应用程序的静态模块打包器(module bundler)。</p>
            <p>注意wx中的onLoad的L为大写</p>
        </div>
        <div class="day6">
            <h1>day6</h1>
            <p>picker：从底部弹起的滚动选择器。</p>
            <p>navigator：页面链接。</p>
            <p>Storage特点：</p>
            <p>1.存储量限制 ( 5M )2.客户端完成，不会请求服务器处理</p>
            <p>sessionStorage数据是不共享、 localStorage共享</p>
            <p>sessionStorage：作用于当前的页面，新开页面或者关闭页面时候，数据消失；</p>
            <p>transform=rotate(angle x y) (不要写在style里面) angle 旋转角度 x,y旋转中心</p>
            <p>stroke-dasharray:a,b/a,b,c,d...绘制虚线 </p>
        </div>
        <div class="day7">
            <h1>day7</h1>
            <p> new Worker(‘后台处理的JS地址’)</p>
            <p>利用postMessage传输数据</p>
            <p>onmessage = function(){}  监听接收信息,e.data可以获取postMessage传输的数据</p>
            <p>读取图片的数据时，通常采用url， // 此url直接指向 存在内存当中的文件 url，提高性能，base64编码字符串渲染到html页面消耗性能</p>
            <p>//复制选中的文字：window.getSelection||window.getSelection</p>
            <p>然后存到变量中：text = window.getSelection()；text = document.selection.createRange();</p>
            <p>最后一步：document.execCommand('Copy') // 执行浏览器复制的命令</p>
            <p>ArrayBuffer表示二进制数据的原始缓冲区，该缓冲区用于存储各种类型化数组的数据</p>
            <p>sse服务器消息推送：前端可以接收后端发送的数据并渲染到页面上</p>
            <p>离线存储：断网的情况下仍能访问到断网前的页面，页面的图片、数据等都存储在了缓存里面</p>
        </div>
        <div class="day8">
            <h1>day8</h1>
            <p>过渡transition  简写属性，用于在一个属性中设置四个过渡属性 </p>
            <p>语法： transition: property duration timing-function delay;</p>
            <p>transition-property   css属性名称
                transition-duration   过渡时间
                transition-timing-function  切换效果的速度
                transition-delay     延时
                transition-timing-function:linear  切换效果的速度     </p>
            <p>2D转换：语法：transform：translate()/rotate()/scale()/skew()</p>
            <p>translate：移动，rotate：旋转，scale：缩放，skew：拉伸</p>
            <p>background-attachment：背景图片固定</p>
        </div>
        <div class="day9">
            <h1>day9</h1>
            <p>fieldset 标签可以将表单内的相关元素分组。</p>
            <p>fieldset 标签会在相关表单元素周围绘制边框。</p>
            <xmp>
                <legend>Personalia:</legend>
            </xmp>
            <hr>
        </div>
        <div class="day10">
            <h1>day10</h1>
            <p>v-if="false",不渲染该节点</p>
            <p>router-link 组件的属性:tag  改变组件在页面中的种类;to  指定跳转的地址</p>
            <p>routes=[{}]路由和组件的映射表</p>
            <p>router = new VueRouter({routes})实例化路由对象</p>
            <p>component 动态组件   is属性必须</p>
            <p>keep-alive  可以保证内部的组件不被销毁</p>
            <p>全局组件  Vue.component("name",{template:'<div>首页</div>'})</p>
            <p>编程导航</p>
            <p> this.$router.push({path:'/home',query:{a:1}})</p>
            <p>this.$router.push({name:'userlink',params:{id:2}})</p>
            <p>this.$router.go(-1)</p>
        </div>
        <div class="day11">
            <h1>day11</h1>
            <p>vur-router做的是单页面要用  single page application SPA</p>
            <p>exact：精确匹配</p>
            <p>children:配置子路由</p>
            <p>linkExactActiveClass : 取代激活的router-link-exact-active</p>
            <p>router-view：将匹配路由的组件渲染到视图中</p>
            <p>通过在 Vue 根实例的 router 配置传入 router 实例，下面这些属性成员会被注入到每个子组件 this.$route</p>
            <p>路由守卫包含从前置守卫到后置守卫的5个历程，是监测匹配路由到渲染组件的历程</p>
            <p>前四个守卫里面的参数都是(to,from,next)</p>
            <p>as  可以给导入的变量起别名</p>
            <p>export default ()=>{} 默认导出 只能使用一次</p>
            <p>src="./a.js" type="module" : 让a.js这个文件可以使用es6的模块化语法</p>
        </div>
        <div class="day12">
            <h1>day12</h1>
            <p>meta name="referrer" content="never" : 防盗链</p>
            <p>a href="javascript:history.go(-1) : 返回上一页</p>
            <p>把axios函数注入到Vue的原型上 ： Vue.prototype.$axios = axios</p>
            <p>使用axios拉取数据 axios的get函数返回的是一个promise对象</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <script>
        /*
            <div class="day3">
                <h1>day3</h1>
                p*10
            </div>
         */
    </script>
</body>
</html>